@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Emilys+Candy&family=Wendy+One&display=swap');

.font-coiny {
  font-family: 'Coiny', cursive;
}

.font-emily {
  font-family: 'Emilys Candy', cursive;
}

.font-wendy {
  font-family: 'Wendy One', sans-serif;
}



