@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-fall {
  animation: fall 3s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(110%);
  }
}

